html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.main-content{
    margin-left:250px;
}
body {
  margin-bottom: 60px;
  background-color: #000000;
  color: #ffffff;

}
.e-bigger {
    font-size: x-large;
}
.btn:focus, .btn:active{
    outline: none !important;
    box-shadow:none;
}
.no-a-decoration, .no-a-decoration:hover{
    text-decoration:none;
    color:inherit;
}
.e-grid {
    border:0;
    border-radius:5px;
}
#sidebar{
    background-color:#12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
}
#menu{
    margin-top:50px;
}
.widget{
    border-radius:1rem;
    background-color:#1a2944
}
.widget.summary > div:first-child {
    background-color : #222b33;
    padding: 1rem;
    border-top-left-radius : 1rem;
    border-bottom-left-radius: 1rem;
}

.widget.summary > div:first-child i {
    font-weight : bold;
}
.widget.income > div:first-child {
    color:#65da41;
}
.widget.expense > div:first-child{
    color:#ff4e48;
}
.widget.balance > div:first-child{
    color:#2aa1ff;
}
.widget.chart{
    padding:5px;
}
